#content #lecture_list {
    width: 25%;
    float: left;
    margin-bottom: 4em;
	padding-right: 10px;
	padding-left: 5px;
	text-align: justify;
}

.selected_lecture {
	background-color: #cccccc;	
}

#competency_resources {
	margin-bottom: 30px;
	text-align: center;
}

#competency_description {
	margin-bottom: 30px;
	padding-left: 20px;
}

.competency {
    padding-bottom: 4px;
	font-weight: bold;
}

.course_description {
	margin-bottom: 8px;
}
