
#footer {
    clear: left;
    background-color: #4169E1;
    color: #fff;
    margin-top: 2em;
    width: 1024px;
    overflow: auto;
}

#footer a:link {
	color: #fff;
	font-size: 11px;
	font-weight: bold;
}
#footer a:visited {
	color: #fff;
	font-size: 11px;
	font-weight: bold;
}
#footer a:hover {
	color: #ddd;
	font-size: 11px;
	font-weight: bold;
}

#footer div.chunk {
    margin-top: 1em;
    margin-left: 20px;
    width: 15%;
    float: left;
    margin-bottom: 2em;
}

#footer div.chunk h3 {
    font-size: 110%;
}

#footer div.chunk ul {
    list-style-type: none;
}

#footer #copyright {
    clear: left;
    padding-top: 1em;
    margin-bottom: 1em;
    margin-left: 20px;
}
