
#footer {
    clear: left;
    background-color: #4169E1;
    color: #fff;
    margin-top: 2em;
    width: 1024px;
    overflow: auto;
    text-align: center;
}

#footer a:link {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}

#footer a:visited {
	color: #fff;
	font-size: 13px;
	font-weight: bold;
}

#footer a:hover {
	color: #ddd;
	font-size: 13px;
	font-weight: bold;
}

.footer_row {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
}