#header #header-main {
}

#header {
	background: #fff none repeat scroll 0 0;
    overflow: hidden;
	margin-bottom: 10px;
    border-bottom: 1px solid #266FAD;
	width: 1024px;
}

#nav-main {
	background-color: #4867D6;
	color: #ff7373;
	padding-left: 16px;
	padding-top: 2px;
	padding-bottom: 2px;
	overflow: none;
	font-size: 12px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
	border-top: 1px solid #F0F8FF;
}

#nav-main ul li {
	display: inline;
	margin: 5px;
}

#nav-main a:link {
	color: #fff;
}

#nav-main a:visited {
	color: #fff;
}

#nav-main a:hover {
	color: #EC665D;
}

