<wicket:panel>		
	<h2 class="course_listing_heading">Mentor</h2>
	<p id="instructor_image"><img src="images/Instructor.jpg"/></p>
	<p class="mentor_detail"><span wicket:id="mentor.name" >Mentor's Name</span></p>
	<p class="mentor_detail">Questions answered: <span wicket:id="mentor.qanswered" >7</span></p>
	<p class="mentor_detail">Last Login: <span wicket:id="mentor.lastlogin">7/10/2010</span></p>
	<p id="course_summary_heading">Course Summary:</p>
	<p id="course_summary">This course is all about understanding: understanding what's going on inside your computer when you flip on the switch, why tech support has you constantly rebooting your computer, how everything you do on the Internet can be watched by others, and how your computer can become infected with a worm just by turning it on. </p>
</wicket:panel>