<wicket:extend>
	<p>
		Use the wiki form below to enter details for the course : <span wicket:id="course.name">Course Name</span>
	</p>
	<form wicket:id="competencies.edit.form">
		<p><i>Please enter the course description below (you can use the <a href="http://daringfireball.net/projects/markdown/syntax">markdown syntax</a> in this field)</i></p>
		<p>
			<textarea wicket:id="course.description.edit.form.textarea" rows="20" cols="120"></textarea>
		</p>
		<p><i>Please enter the list of lecture titles below (each title on a separate line)</i></p>
		<p>
			<textarea wicket:id="competencies.edit.form.textarea" rows="20" cols="120"></textarea>
		</p>
		<p>
			<input type="submit" name="SubmitButton" value="Submit"/>
		</p>
	</form>			
</wicket:extend>