<wicket:extend>		
	<p>
		Use the wiki form below to enter competencies for the course : <span wicket:id="course.name">Course Name</span>
	</p>
	<form wicket:id="lecture.edit.form">
		<p>
			Please edit the description below
		</p>
		<p>
			<textarea wicket:id="lecture.edit.form.description.textarea" rows="20" cols="120"></textarea>
		</p>
		<p>
			Please edit the resources below
		</p>
		<p>
			<textarea wicket:id="lecture.edit.form.resources.textarea" rows="20" cols="120"></textarea>
		</p>
		<p>
			<input type="submit" name="SubmitButton" value="Submit"/>
		</p>
	</form>			
</wicket:extend>		