<wicket:panel>
	<div id="header">
		<div id="header-main"><img src="images/innovative_in_edu_banner.jpg" /></div>
		<div id="nav-main">
		<ul>
			<li><a wicket:id="homepage_link" href="#"><span wicket:id="homepage_label">Home Label.</span></a></li>
			<li><a wicket:id="about_link" href="#"><span wicket:id="about_label">About Label.</span></a></li>
			<li><a wicket:id="login_link" href="#"><span wicket:id="login_label">Login Label.</span></a></li>
			<li><a wicket:id="register_link" href="#"><span wicket:id="register_label">Register Label.</span></a></li>
			<!-- Label for the admin link should be a Wicket component -->
			<li><a wicket:id="admin_page" href="#"><span>Admin.</span></a></li>			
			<li><a wicket:id="logout_link" href="#"><span wicket:id="logout_label">Logout Label.</span></a></li>
			<li><span wicket:id="user">User</span></li>
		</ul>
	
		</div>
	</div>
</wicket:panel>