<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >
    <head>  
        <title>Computer Science For Everyone</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="free computer science courses" />
		<meta name="keywords" content="computer science videos, computer science courses, learn programming, algorithms, data structures, python, java, introduction to computers, machine learning, open courseware, video lecturesi, adaptive learning online, parag shah"/>
		<meta name="Distribution" content="Global" />
		<meta name="author" content="Parag Shah" />
		<meta name="copyright" content="Satish Talim 2007 and beyond..." />
		<meta name="robots" content="index,follow" />
		<meta http-equiv="Expires" content="0" />
		<meta name="revisit-after" content="1 days" />

		<link rel="stylesheet" type="text/css" href="css/default_styles.css" />

    </head>
    <body class="about">
        <div id="header">
			<div id="header-main">
				<img src="images/summer_sky.jpg" />
			</div> <!-- header-main -->
			<div id="nav-main">
				<ul>
					<li><a href="/wwald">Home .</a></li>
					<li><a href="/wwald/about/">About .</a></li>
				</ul>
				
			</div> <!-- nav-main -->
		</div> <!-- header -->	

		<div id="content">
			<div id="main">
				<h2 class="course_listing_heading"><span>Courses</span><a wicket:id="courses.edit" href="#">[edit]</a></h2>
				
				<div id="course-listing">

					<div wicket:id="courses" id="course-details">
						<div class="course_title">
							<a wicket:id="goto.course" href="#"><span wicket:id="course.title">Course 1 Title</span></a>
						</div>
						<div class="course_description">
							<span wicket:id="course.description">Course 1 Description</span>
						</div>
					</div>
					<wicket:remove>
						<div id="course-details">
							<div class="course_title">
								<a href="/courses/course/show/INTROCS/"><span>Course 2 Title</span></a>
							</div>
							<div class="course_description">
								<span>Course 2 Description</span>
							</div>
						</div>
					</wicket:remove>

				</div>
			</div>
			
			<div id="status_updates">
				<h2 class="status_updates_heading">Site Updates</h2>
				
				<div wicket:id="status_updates" id="status_update">
					<span wicket:id="status_update_text">Daniel learned HTML lists and blogged his learnings.</span>
				</div>
				
				<wicket:remove>
					<div id="status_update">
						Parag took a quiz on Java programming.
					</div>
				</wicket:remove>
			</div>
			
			<div id="rhs_sidebar">
				
			</div>
			
		</div>
		
		
		
		<div id="footer">	
			<div class="chunk" id="footer">
				<ul>
					<li><a href="/terms-of-service">Terms Of Service</a></li>
					<li><a href="/privacy-policy">Privacy Policy</a></li>
					<li><a href="mailto:admin@adaptivelearningonline.net">Contact</a></li>
				</ul>
			</div>
		</div> 
    </body>
</html>
