<wicket:extend>
	<form wicket:id="login">
		<p style="margin-bottom: 10px;">
			<p class="form-line">
				<span class="form-label" wicket:id="username_label">username</span>
				<input wicket:id="username" type="text" name="username" />
			</p>
			
			<p class="form-line">
				<span class="form-label" wicket:id="password_label">password</span>
				<input wicket:id="password" type="password" name="password" />
			</p>
				
			<p class="form-line">
				<input type="submit" value="Login"/>
			</p>
		</p>
		
	</form>
</wicket:extend>		
		
		
