<wicket:extend>
	<p><b>User Profile</b></p>
	<div wicket:id="user_details_panel">User Details</div>
	
	<p><b>Change Password</b></p>
	<span wicket:id="messages" class="messages">Form validation messages</span>
	<form wicket:id="change_password_form">
		<p class="form-line">
			<span class="form-label">Old Password</span>
			<input wicket:id="old_pwd" type="password" />
		</p>
		
		<p class="form-line">
			<span class="form-label">New Password</span>
			<input wicket:id="new_pwd" type="password" />
		</p>
		
		<p class="form-line">
			<span class="form-label">Retype New Password</span>
			<input wicket:id="retype_new_pwd" type="password" />
		</p>
		<p class="form-line">
			<input type="submit" name="SubmitButton" value="Submit"/>
		</p>
	</form>
</wicket:extend>