<wicket:panel>
	<div style="padding-bottom:15px;">
		<p style="font-weight: bold;">
			Forum Name: <span wicket:id="forum_title">Forum title</span>
		</p>
		<p>
			<span wicket:id="forum_description">Forum Description</span>
		</p>
	</div>
	<div wicket:id="forum_questions">
		<div class="course_title" style="margin-bottom:10px;">
			<a wicket:id="question_link" href="#">
				<span wicket:id="question_title">Question title</span>
			</a>
		</div>
		<div class="course_description" wicket:id="question_statistics">
			Question Statistics
		</div>
	</div>
</wicket:panel>