<wicket:panel>
	<div>
		<div class="course_title" style="font-weight: bold;">
			<span wicket:id="question_title">Question Title</span>
		</div>
		<div class="course_description">
			<span wicket:id="question_contents">Question Contents</span>
		</div>
	</div>
	
	<div class="course_description" wicket:id="question_statistics">
		Question Statistics
	</div>
	
	<div>
		<input type="checkbox" wicket:id="question_answered">
			<span wicket:id="question_answered_label">Mark this question as answered</span>
		</input>
	</div>
	
	<div style="margin-top: 15px;" wicket:id="answers">
		<div class="course_description">
			<span style="margin-bottom: 15px; width: 480px;" wicket:id="answer">
				An Answer
			</span>
		</div>
		<div wicket:id="answer_statistics">
			Statistics of the answer
		</div>
	</div>
	
	<div syle="margin-top: 10px;">
		<p style="margin-bottom: 5px; margin-top: 15px;">
			<span>Answer this question</span>
		</p>
		<div>
			<a wicket:id="login_to_answer" href="#">
				<span wicket:id="login_to_answer_label">Label</span>
			</a>
		</div>	
		<form wicket:id="answer_form">			
			<p>
				<textarea wicket:id="answer_field" rows="20" cols="80"></textarea>
			</p>
			<p>
				<input type="submit" name="SubmitButton" value="Submit">
			</p>
		</form>
	</div>
</wicket:panel>