<wicket:extend>
	<form wicket:id="register_form">
		<p><span wicket:id="first_name_label">First Name</span><input wicket:id="first_name_text" type="text" name="first_name"/></p>
		<p><span wicket:id="mi_label">Middle Initial</span><input wicket:id="mi_text" type="text" name="mi"/></p>
		<p><span wicket:id="last_name_label">Last Name</span><input wicket:id="last_name_text" type="text" name="last_name"/></p>
		<p><span wicket:id="screen_name_label">Screen Name</span><input wicket:id="screen_name_text" type="text" name="screen_name"/></p>
		<p><span wicket:id="username_label">Username</span><input wicket:id="username_text" type="text" name="username"/></p>
		<p><span wicket:id="password1_label">Password</span><input wicket:id="password1_text" type="text" name="password1"/></p>
		<p><span wicket:id="password2_label">Password</span><input wicket:id="password2_text" type="text" name="password2"/></p>
		<p><span wicket:id="profile_label">Profile</span><textarea wicket:id="profile_text" name="profile"></textarea></p>
		<p><input type="submit" value="Register" /><input type="reset" /></p>
	</form>
</wicket:extend>