<wicket:extend>
	<span style="font-weight: bold;">User Details: </span>
	<div style="padding-bottom: 20px;" wicket:id="internal_user_details">User Details Form</div>
	
	<span style="font-weight: bold;">Change Role: </span>			
	<p>
		<form wicket:id="change_role_form">
			<select wicket:id="change_role_form_role_dropdown">
				<option>Role 1</option>
				<option>Role 2</option>
			</select>
			<input type="submit" name="SubmitButton" value="Submit"/>			
		</form>
	</p>
	
	<p>
		<a wicket:id="manage_users_page" href="#">Manage Users</a>
	</p>
	
</wicket:extend>