<wicket:extend>
	<p style="font-weight: bold; font-size:14px; padding-bottom:25px;">
		<img style="margin-left: 10px;" height="30" width="30" wicket:id="user_image" />
		<span wicket:id="user_identifier">User Identifier</span>
	</p>
	
	<p>
		<!-- List of enrolled courses -->
		<h2 class="status_updates_heading">Enrolled Courses</h2>				
		<div wicket:id="enrolled_courses" id="status_update">
			<a wicket:id="enrolled_course_link">
				<span wicket:id="enrolled_course_link_label">Course Label</span>
			</a>	
		</div>
	</p>
	
</wicket:extend>